spring:
  datasource:
    url: jdbc:mysql://localhost:3306/splendordb
    username: root
    password: 12345678
  main:
    banner-mode: off
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update # ou "validate" en production
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          lob:
            non_contextual_creation: true
  liquibase:
    change-log: classpath:/liquibase/master.xml
    enabled: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: choukriayoub916@gmail.com
    password: ebcl twgy jift cpaw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          ssl:
            trust: smtp.gmail.com

